@import "styles/constants.scss";

.mapHolder {
  top: $navbarMobileHeight;
  height: calc(100vh - $navbarMobileHeight);

  @screen sm {
    top: $navbarDesktopHeight;
    height: calc(100vh - $navbarDesktopHeight);
  }
}
