.containerBase {
  @screen lg {
    height: 371px !important;
  }

  @screen 2xl {
    height: 355px !important;
  }
}

.tableContainer {
  height: 371px;

  @extend .containerBase;
}

.container {
  height: 354px;

  @extend .containerBase;
}
