$asianColor: #ff5050;
$blackColor: #4472c4;
$hispanicColor: #ff9900;
$whiteColor: #339933;
$otherColor: #ffc000;

:export {
  asianColor: $asianColor;
  blackColor: $blackColor;
  hispanicColor: $hispanicColor;
  whiteColor: $whiteColor;
  otherColor: $otherColor;
}
