@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./typography.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  /* SchoolLevelTable Classes */
  .school-th {
    @apply px-4 py-3 text-center text-xs font-medium text-gray-900 uppercase tracking-wider;
  }

  .school-td {
    @apply text-sm text-gray-900 text-center font-light px-4 py-2 whitespace-nowrap;
  }
  /* column header - would like to fix to the left (but not sure how to do) */
  .school-ch {
    @apply text-sm text-gray-900 text-center font-light px-4 py-2 whitespace-nowrap;
  }

  .paginate-btn {
    @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
  }
}
