@import "styles/common.scss";
@import "styles/constants.module.scss";

.button {
  @extend .mapControlButton;
  width: 40px;
  height: 40px;
}

.drawerPaper {
  width: 100%;

  padding-top: $navbarMobileHeight;

  @screen sm {
    width: $drawerWidth;
    padding-top: $navbarDesktopHeight;
  }
}
