@import "styles/colors.scss";

.container {
  height: 400px !important;

  @screen lg {
    height: 600px !important;
  }
}

.buttons {
  > div {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: {
      right: 8px;
      bottom: 2px;
    }
    &:last-of-type {
      margin-right: 0;
    }

    > button {
      width: 40px;
      height: 12px;
      margin-right: 4px;
    }
  }
}

.buttonAsian {
  background-color: $asianColor;

  &:hover {
    background-color: darken($asianColor, 10%);
  }
}

.buttonBlack {
  background-color: $blackColor;
  &:hover {
    background-color: darken($blackColor, 10%);
  }
}

.buttonHispanic {
  background-color: $hispanicColor;
  &:hover {
    background-color: darken($hispanicColor, 10%);
  }
}

.buttonWhite {
  background-color: $whiteColor;
  &:hover {
    background-color: darken($whiteColor, 10%);
  }
}

.buttonOther {
  background-color: $otherColor;
  &:hover {
    background-color: darken($otherColor, 10%);
  }
}
